
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Open+Sans:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

body{
  background-color: #15181f;
  color:#ffffff;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}
